<div class="outer">
    <div class="container">
        <div class="row">
          
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        
                        
                        <h3 class="pt-3 font-weight-bold">
                            Welcome to HL bank
                        </h3>
                    </div>

                    <!-- Show these only if user role is there -->
                    
                    <div class="panel-body p-3">
                        <h5 class="btn btn-outline-primary btn-sm" [routerLink]="['/admin/getAllApplications']">get all application details
                        </h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
