
.navbar-text {
    padding-left: 10px;
}

.custom-navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    
}

.custom-bg {
    background-color: #1E0342;
    color: white;
}

.nav-link{
    color: white;
}