
.btn{
    margin-top: -10px;
    width: 200px;
}
.btn-block {
    width: 100%;
}

.text-left {
    text-align: left;
}

.right-side {
    margin-top: -100px;
}

.left-side{
    margin-top: -40px;
}
.panel {
    border-radius: 12px;
}

.panel-body{
    border-radius: 10px;
}
